html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header h1 {
    margin: 0.5rem 1rem;
}

#header .auth {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
}

#header .menuBar {
    background: black;
    color: white;
    padding: 0.5rem 1rem;
}

#header .menuBar a {
    color: white;
}

#footer {
    background: black;
    color: white;
    padding: 0.5rem 1rem;
}

#content {
    flex: 1;
    padding: 0 1rem;
}

.work {
    margin: 1rem 0;
    background: #EEE;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.work .headline {
    font-size: 110%;
}

.tag {
    border-radius: 0.5rem;
    color: black;
    display: inline-block;
    margin: 0.1rem 0;
    padding: 0 0.4rem;
    text-decoration: none;
}

.tag.fandom {
    background: #bbf;
}

.tag.warning {
    background: #faa;
}

.tag.ship {
    background: #bfb;
}

.tag.character {
    background: #ff8;
}

.tag.generic {
    background: #ccc;
}
