#header h1 {
    margin: 0.5rem 1rem;
}

#header .auth {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem;
}

#header .menuBar {
    background: black;
    color: white;
    padding: 0.5rem 1rem;
}

#header .menuBar a {
    color: white;
}
